{% extends 'backoffice/default-layout.html.twig' %}

{% block title %}
    Export
    {{ parent() }}
{% endblock %}


{% block content_title %}
    Export
{% endblock %}

{% block content_toolbar %}
{% endblock %}

{% block content_body %}

    <div class="container">
        <div class="row">
            <div class="col-12">

            </div>
        </div>
    </div>

{% endblock %}
