{% extends 'backoffice/default-layout.html.twig' %}

{% block title %}
    Export
    {{ parent() }}
{% endblock %}


{% block content_title %}
    Export
{% endblock %}

{% block content_toolbar %}
{% endblock %}

{% block content_body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Esporta dati clienti.</p>
                <p>Verranno esclusi i clienti senza indirizzo email.</p>
                <a class="btn btn-info" href="{{ path('backoffice_export_customer_all') }}">Esporta clienti</a>
            </div>
        </div>
    </div>

{% endblock %}
