<footer class="text-muted">
    <div class="container">
        <hr>
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Copyright &copy; 2021 Oberdan 8 Libri Scolastici Usati. Tutti i diritti riservati.</p>
    </div>
</footer>