{% extends "default-layout.html.twig" %}

{#{% block metadata %}#}
{#    <meta name="robots" content="noindex, nofollow">#}
{#{% endblock %}#}

{#{% block main %}#}
{#{% endblock %}#}

{% block content_body %}
 {{ page }}
 <div class="container">
  form reservation
 </div>

{% endblock %}


{#{% block javascripts %}#}
{#    {{ parent() }}#}
{#    <script type="text/javascript" src="{{ asset('build/js/recaptcha.js') }}"></script>#}
{#{% endblock %}#}
