includes:
	- phpstan-baseline.neon

parameters:
    level: max

    paths:
        - src/
        - tests/
        - core/booking/src/
        - core/booking/tests/

    #checkMissingIterableValueType: false

    inferPrivatePropertyTypeFromConstructor: true

    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php
    excludePaths:
        - src/Controller/BackofficeSecurityController.php
        - tests/bootstrap.php
        - src/Factory
        # remove
        - core/booking/tests/Integration/ReservationRepositoryExpiredReadSideTest.php

    tmpDir: var/tools/phpstan/
