includes:
	- phpstan-baseline.neon

parameters:
    level: max

    paths:
        - src/
        - tests/
        - core/booking/src/
        - core/booking/tests/

    checkMissingIterableValueType: false

    inferPrivatePropertyTypeFromConstructor: true

    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php
    excludes_analyse:
        - tests/bootstrap.php
        - src/Factory

    tmpDir: var/tools/phpstan/
