parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$path of method Symfony\\\\Component\\\\Mime\\\\Email\\:\\:attachFromPath\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: core/booking/src/Adapter/MailDriven/BookingMailer.php

		-
			message: "#^Class Booking\\\\Adapter\\\\Persistance\\\\BookRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: T$#"
			count: 1
			path: core/booking/src/Adapter/Persistance/BookRepository.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 2
			path: core/booking/src/Adapter/Persistance/DoctrineType/ReservationStatusType.php

		-
			message: "#^Cannot call method getConfirmationStatus\\(\\) on Booking\\\\Application\\\\Domain\\\\Model\\\\ReservationSaleDetail\\|null\\.$#"
			count: 1
			path: core/booking/src/Adapter/Persistance/ReservationRepository.php

		-
			message: "#^Cannot call method isExpired\\(\\) on Booking\\\\Application\\\\Domain\\\\Model\\\\ConfirmationStatus\\\\ConfirmationStatus\\|null\\.$#"
			count: 1
			path: core/booking/src/Adapter/Persistance/ReservationRepository.php

		-
			message: "#^Casting to int\\<0, max\\> something that's already int\\<0, max\\>\\.$#"
			count: 1
			path: core/booking/src/Adapter/Persistance/ReservationRepository.php

		-
			message: "#^Class Booking\\\\Adapter\\\\Persistance\\\\ReservationRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: T$#"
			count: 1
			path: core/booking/src/Adapter/Persistance/ReservationRepository.php

		-
			message: "#^Class Booking\\\\Adapter\\\\Persistance\\\\ReservationSaleDetailRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: T$#"
			count: 1
			path: core/booking/src/Adapter/Persistance/ReservationSaleDetailRepository.php

		-
			message: "#^Call to an undefined method Booking\\\\Application\\\\Domain\\\\Model\\\\ReservationRepositoryInterface\\:\\:findWithQueryBuilderAllConfirmedOrderByOldest\\(\\)\\.$#"
			count: 2
			path: core/booking/src/Adapter/Web/Admin/BackofficeConfirmedReservationController.php

		-
			message: "#^Cannot call method getConfirmationStatus\\(\\) on Booking\\\\Application\\\\Domain\\\\Model\\\\ReservationSaleDetail\\|null\\.$#"
			count: 1
			path: core/booking/src/Adapter/Web/Admin/BackofficeConfirmedReservationController.php

		-
			message: "#^Cannot call method isExpired\\(\\) on Booking\\\\Application\\\\Domain\\\\Model\\\\ConfirmationStatus\\\\ConfirmationStatus\\|null\\.$#"
			count: 1
			path: core/booking/src/Adapter/Web/Admin/BackofficeConfirmedReservationController.php

		-
			message: "#^Call to an undefined method Booking\\\\Application\\\\Domain\\\\Model\\\\ReservationRepositoryInterface\\:\\:getWithSearchQueryBuilder\\(\\)\\.$#"
			count: 1
			path: core/booking/src/Adapter/Web/Admin/BackofficeReservationController.php

		-
			message: "#^Cannot call method getConfirmationStatus\\(\\) on Booking\\\\Application\\\\Domain\\\\Model\\\\ReservationSaleDetail\\|null\\.$#"
			count: 1
			path: core/booking/src/Adapter/Web/Admin/BackofficeReservationController.php

		-
			message: "#^Cannot call method getGeneralNotes\\(\\) on Booking\\\\Application\\\\Domain\\\\Model\\\\ReservationSaleDetail\\|null\\.$#"
			count: 1
			path: core/booking/src/Adapter/Web/Admin/BackofficeReservationController.php

		-
			message: "#^Cannot call method getReservationPackageId\\(\\) on Booking\\\\Application\\\\Domain\\\\Model\\\\ReservationSaleDetail\\|null\\.$#"
			count: 1
			path: core/booking/src/Adapter/Web/Admin/BackofficeReservationController.php

		-
			message: "#^Cannot call method getStatus\\(\\) on Booking\\\\Application\\\\Domain\\\\Model\\\\ReservationSaleDetail\\|null\\.$#"
			count: 3
			path: core/booking/src/Adapter/Web/Admin/BackofficeReservationController.php

		-
			message: "#^Cannot call method setConfirmationStatus\\(\\) on Booking\\\\Application\\\\Domain\\\\Model\\\\ReservationSaleDetail\\|null\\.$#"
			count: 1
			path: core/booking/src/Adapter/Web/Admin/BackofficeReservationController.php

		-
			message: "#^Cannot call method setGeneralNotes\\(\\) on Booking\\\\Application\\\\Domain\\\\Model\\\\ReservationSaleDetail\\|null\\.$#"
			count: 1
			path: core/booking/src/Adapter/Web/Admin/BackofficeReservationController.php

		-
			message: "#^Cannot call method setReservationPackageId\\(\\) on Booking\\\\Application\\\\Domain\\\\Model\\\\ReservationSaleDetail\\|null\\.$#"
			count: 1
			path: core/booking/src/Adapter/Web/Admin/BackofficeReservationController.php

		-
			message: "#^Cannot call method setStatus\\(\\) on Booking\\\\Application\\\\Domain\\\\Model\\\\ReservationSaleDetail\\|null\\.$#"
			count: 1
			path: core/booking/src/Adapter/Web/Admin/BackofficeReservationController.php

		-
			message: "#^Cannot call method withExtensionTime\\(\\) on Booking\\\\Application\\\\Domain\\\\Model\\\\ConfirmationStatus\\\\ConfirmationStatus\\|null\\.$#"
			count: 1
			path: core/booking/src/Adapter/Web/Admin/BackofficeReservationController.php

		-
			message: "#^Parameter \\#1 \\$city of method Booking\\\\Adapter\\\\Web\\\\Admin\\\\Form\\\\Dto\\\\ClientDto\\:\\:setCity\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: core/booking/src/Adapter/Web/Admin/BackofficeReservationController.php

		-
			message: "#^Parameter \\#1 \\$email of method Booking\\\\Adapter\\\\Web\\\\Admin\\\\Form\\\\Dto\\\\ClientDto\\:\\:setEmail\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: core/booking/src/Adapter/Web/Admin/BackofficeReservationController.php

		-
			message: "#^Parameter \\#1 \\$firstName of method Booking\\\\Adapter\\\\Web\\\\Admin\\\\Form\\\\Dto\\\\ClientDto\\:\\:setFirstName\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: core/booking/src/Adapter/Web/Admin/BackofficeReservationController.php

		-
			message: "#^Parameter \\#1 \\$lastName of method Booking\\\\Adapter\\\\Web\\\\Admin\\\\Form\\\\Dto\\\\ClientDto\\:\\:setLastName\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: core/booking/src/Adapter/Web/Admin/BackofficeReservationController.php

		-
			message: "#^Parameter \\#1 \\$phone of method Booking\\\\Adapter\\\\Web\\\\Admin\\\\Form\\\\Dto\\\\ClientDto\\:\\:setPhone\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: core/booking/src/Adapter/Web/Admin/BackofficeReservationController.php

		-
			message: "#^Property Booking\\\\Adapter\\\\Web\\\\Admin\\\\Form\\\\Model\\\\BackofficeReservationFormModel\\:\\:\\$books has no typehint specified\\.$#"
			count: 1
			path: core/booking/src/Adapter/Web/Admin/Form/Model/BackofficeReservationFormModel.php

		-
			message: "#^Call to an undefined method Booking\\\\Infrastructure\\\\Uploader\\\\AdozioniUploaderInterface\\:\\:uploadAdozioniFileAndReturnFile\\(\\)\\.$#"
			count: 3
			path: core/booking/src/Adapter/Web/Free/AdozioniReservationController.php

		-
			message: "#^Strict comparison using \\!\\=\\= between Symfony\\\\Component\\\\HttpFoundation\\\\File\\\\UploadedFile and null will always evaluate to true\\.$#"
			count: 3
			path: core/booking/src/Adapter/Web/Free/AdozioniReservationController.php

		-
			message: "#^Property Booking\\\\Application\\\\Domain\\\\Model\\\\Book\\:\\:\\$author \\(string\\) does not accept string\\|null\\.$#"
			count: 1
			path: core/booking/src/Application/Domain/Model/Book.php

		-
			message: "#^Property Booking\\\\Application\\\\Domain\\\\Model\\\\Book\\:\\:\\$isbn \\(string\\) does not accept string\\|null\\.$#"
			count: 1
			path: core/booking/src/Application/Domain/Model/Book.php

		-
			message: "#^Property Booking\\\\Application\\\\Domain\\\\Model\\\\Book\\:\\:\\$reservation has no typehint specified\\.$#"
			count: 1
			path: core/booking/src/Application/Domain/Model/Book.php

		-
			message: "#^Property Booking\\\\Application\\\\Domain\\\\Model\\\\Book\\:\\:\\$volume \\(string\\) does not accept string\\|null\\.$#"
			count: 1
			path: core/booking/src/Application/Domain/Model/Book.php

		-
			message: "#^Anonymous function should have native return typehint \"DateTimeImmutable\"\\.$#"
			count: 1
			path: core/booking/src/Application/Domain/Model/ConfirmationStatus/ConfirmationStatus.php

		-
			message: "#^Only booleans are allowed in a negated boolean, DateTimeImmutable\\|false given\\.$#"
			count: 1
			path: core/booking/src/Application/Domain/Model/ConfirmationStatus/ConfirmationStatus.php

		-
			message: "#^Method Booking\\\\Application\\\\Domain\\\\Model\\\\Reservation\\:\\:getBooks\\(\\) return type with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: core/booking/src/Application/Domain/Model/Reservation.php

		-
			message: "#^Property Booking\\\\Application\\\\Domain\\\\Model\\\\Reservation\\:\\:\\$registrationDate has no typehint specified\\.$#"
			count: 1
			path: core/booking/src/Application/Domain/Model/Reservation.php

		-
			message: "#^Cannot call method getManager\\(\\) on object\\|null\\.$#"
			count: 1
			path: core/booking/tests/Integration/ReservationRepositoryExpiredReadSideTest.php

		-
			message: "#^Parameter \\#1 \\$confirmationDate of method App\\\\Factory\\\\ReservationSaleDetailFactory\\:\\:withConfirmationDate\\(\\) expects DateTimeImmutable, DateTimeImmutable\\|false given\\.$#"
			count: 16
			path: core/booking/tests/Integration/ReservationRepositoryExpiredReadSideTest.php

		-
			message: "#^Property Booking\\\\Tests\\\\Integration\\\\ReservationRepositoryExpiredReadSideTest\\:\\:\\$entityManager \\(Doctrine\\\\ORM\\\\EntityManager\\) does not accept null\\.$#"
			count: 1
			path: core/booking/tests/Integration/ReservationRepositoryExpiredReadSideTest.php

		-
			message: "#^Cannot call method getManager\\(\\) on object\\|null\\.$#"
			count: 1
			path: core/booking/tests/Integration/ReservationRepositoryReadSideTest.php

		-
			message: "#^Property Booking\\\\Tests\\\\Integration\\\\ReservationRepositoryReadSideTest\\:\\:\\$entityManager \\(Doctrine\\\\ORM\\\\EntityManager\\) does not accept null\\.$#"
			count: 1
			path: core/booking/tests/Integration/ReservationRepositoryReadSideTest.php

		-
			message: "#^Cannot call method getManager\\(\\) on object\\|null\\.$#"
			count: 1
			path: core/booking/tests/Integration/ReservationRepositoryTest.php

		-
			message: "#^Property Booking\\\\Tests\\\\Integration\\\\ReservationRepositoryTest\\:\\:\\$entityManager \\(Doctrine\\\\ORM\\\\EntityManager\\) does not accept null\\.$#"
			count: 1
			path: core/booking/tests/Integration/ReservationRepositoryTest.php

		-
			message: "#^Property Booking\\\\Tests\\\\Integration\\\\ReservationRepositoryTest\\:\\:\\$repository has no typehint specified\\.$#"
			count: 1
			path: core/booking/tests/Integration/ReservationRepositoryTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: core/booking/tests/Integration/ReservationRepositoryTest.php

		-
			message: "#^Cannot call method convertToDatabaseValue\\(\\) on Doctrine\\\\DBAL\\\\Types\\\\Type\\|null\\.$#"
			count: 1
			path: core/booking/tests/Unit/Adapter/DoctrineType/ReservationStatusTypeTest.php

		-
			message: "#^Cannot call method convertToPHPValue\\(\\) on Doctrine\\\\DBAL\\\\Types\\\\Type\\|null\\.$#"
			count: 3
			path: core/booking/tests/Unit/Adapter/DoctrineType/ReservationStatusTypeTest.php

		-
			message: "#^Cannot call method getName\\(\\) on Doctrine\\\\DBAL\\\\Types\\\\Type\\|null\\.$#"
			count: 1
			path: core/booking/tests/Unit/Adapter/DoctrineType/ReservationStatusTypeTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: core/booking/tests/Unit/Adapter/MailDriven/SendingNewAdozioniReservationConfirmationToBackofficeTest.php

		-
			message: "#^Cannot call method extensionTime\\(\\) on Booking\\\\Application\\\\Domain\\\\Model\\\\ConfirmationStatus\\\\ConfirmationStatus\\|null\\.$#"
			count: 1
			path: core/booking/tests/Unit/Domain/ReservationSaleDetailTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: core/booking/tests/Unit/Infrastructure/Form/AdozioniReservationFormTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: core/booking/tests/Unit/Infrastructure/Form/ReservationFormTest.php

		-
			message: "#^Call to an undefined method Doctrine\\\\Persistence\\\\ObjectManager\\:\\:createQuery\\(\\)\\.$#"
			count: 1
			path: src/Controller/BackofficeInfoBoxController.php

		-
			message: "#^Cannot call method getEmail\\(\\) on object\\|null\\.$#"
			count: 1
			path: src/Controller/BackofficeMyAccountController.php

		-
			message: "#^Cannot call method getUsername\\(\\) on object\\|null\\.$#"
			count: 1
			path: src/Controller/BackofficeMyAccountController.php

		-
			message: "#^Cannot call method setPassword\\(\\) on App\\\\Entity\\\\BackofficeUser\\|null\\.$#"
			count: 1
			path: src/Controller/BackofficeMyAccountController.php

		-
			message: "#^Parameter \\#1 \\$user of method App\\\\Repository\\\\BackofficeUserRepository\\:\\:save\\(\\) expects App\\\\Entity\\\\BackofficeUser, App\\\\Entity\\\\BackofficeUser\\|null given\\.$#"
			count: 1
			path: src/Controller/BackofficeMyAccountController.php

		-
			message: "#^Parameter \\#1 \\$user of method Symfony\\\\Component\\\\Security\\\\Core\\\\Encoder\\\\UserPasswordEncoderInterface\\:\\:encodePassword\\(\\) expects Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface, App\\\\Entity\\\\BackofficeUser\\|null given\\.$#"
			count: 1
			path: src/Controller/BackofficeMyAccountController.php

		-
			message: "#^Method App\\\\Controller\\\\BackofficeSecurityController\\:\\:logout\\(\\) should return Symfony\\\\Component\\\\HttpFoundation\\\\Response but return statement is missing\\.$#"
			count: 1
			path: src/Controller/BackofficeSecurityController.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$addresses of method Symfony\\\\Component\\\\Mime\\\\Email\\:\\:to\\(\\) expects string\\|Symfony\\\\Component\\\\Mime\\\\Address, string\\|null given\\.$#"
			count: 1
			path: src/Controller/RegistrationController.php

		-
			message: "#^Parameter \\#2 \\$user of method App\\\\Security\\\\EmailVerifier\\:\\:handleEmailConfirmation\\(\\) expects Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface, object\\|null given\\.$#"
			count: 1
			path: src/Controller/RegistrationController.php

		-
			message: "#^Parameter \\#1 \\$confirmationDate of method App\\\\Factory\\\\ReservationSaleDetailFactory\\:\\:withConfirmationDate\\(\\) expects DateTimeImmutable, DateTimeImmutable\\|false given\\.$#"
			count: 4
			path: src/DataFixtures/LibraiStage/ReservationFixturesExpired.php

		-
			message: "#^Property App\\\\Entity\\\\BackofficeUser\\:\\:\\$email has no typehint specified\\.$#"
			count: 1
			path: src/Entity/BackofficeUser.php

		-
			message: "#^Property App\\\\Entity\\\\BackofficeUser\\:\\:\\$id has no typehint specified\\.$#"
			count: 1
			path: src/Entity/BackofficeUser.php

		-
			message: "#^Property App\\\\Entity\\\\BackofficeUser\\:\\:\\$roles has no typehint specified\\.$#"
			count: 1
			path: src/Entity/BackofficeUser.php

		-
			message:
				"""
					#^Return type of method App\\\\Entity\\\\BackofficeUser\\:\\:getRoles\\(\\) has typehint with deprecated class Symfony\\\\Component\\\\Security\\\\Core\\\\Role\\\\Role\\:
					since Symfony 4\\.3, to be removed in 5\\.0\\. Use strings as roles instead\\.$#
				"""
			count: 1
			path: src/Entity/BackofficeUser.php

		-
			message: "#^Property App\\\\Entity\\\\Book\\:\\:\\$author has no typehint specified\\.$#"
			count: 1
			path: src/Entity/Book.php

		-
			message: "#^Property App\\\\Entity\\\\Book\\:\\:\\$isbn has no typehint specified\\.$#"
			count: 1
			path: src/Entity/Book.php

		-
			message: "#^Property App\\\\Entity\\\\Book\\:\\:\\$reservation has no typehint specified\\.$#"
			count: 1
			path: src/Entity/Book.php

		-
			message: "#^Property App\\\\Entity\\\\Book\\:\\:\\$title has no typehint specified\\.$#"
			count: 1
			path: src/Entity/Book.php

		-
			message: "#^Property App\\\\Entity\\\\Book\\:\\:\\$volume has no typehint specified\\.$#"
			count: 1
			path: src/Entity/Book.php

		-
			message: "#^Call to function in_array\\(\\) requires parameter \\#3 to be set\\.$#"
			count: 1
			path: src/Entity/InfoBox.php

		-
			message: "#^Property App\\\\Entity\\\\MailOut\\:\\:\\$content has no typehint specified\\.$#"
			count: 1
			path: src/Entity/MailOut.php

		-
			message: "#^Property App\\\\Entity\\\\MailOut\\:\\:\\$id has no typehint specified\\.$#"
			count: 1
			path: src/Entity/MailOut.php

		-
			message: "#^Property App\\\\Entity\\\\MailOut\\:\\:\\$recipient has no typehint specified\\.$#"
			count: 1
			path: src/Entity/MailOut.php

		-
			message: "#^Method App\\\\Entity\\\\Reservation\\:\\:getBooks\\(\\) return type with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/Reservation.php

		-
			message: "#^Property App\\\\Entity\\\\Reservation\\:\\:\\$LastName has no typehint specified\\.$#"
			count: 1
			path: src/Entity/Reservation.php

		-
			message: "#^Property App\\\\Entity\\\\Reservation\\:\\:\\$city has no typehint specified\\.$#"
			count: 1
			path: src/Entity/Reservation.php

		-
			message: "#^Property App\\\\Entity\\\\Reservation\\:\\:\\$classe has no typehint specified\\.$#"
			count: 1
			path: src/Entity/Reservation.php

		-
			message: "#^Property App\\\\Entity\\\\Reservation\\:\\:\\$email has no typehint specified\\.$#"
			count: 1
			path: src/Entity/Reservation.php

		-
			message: "#^Property App\\\\Entity\\\\Reservation\\:\\:\\$firstName has no typehint specified\\.$#"
			count: 1
			path: src/Entity/Reservation.php

		-
			message: "#^Property App\\\\Entity\\\\Reservation\\:\\:\\$phone has no typehint specified\\.$#"
			count: 1
			path: src/Entity/Reservation.php

		-
			message: "#^Property App\\\\Entity\\\\Reservation\\:\\:\\$registrationDate has no typehint specified\\.$#"
			count: 1
			path: src/Entity/Reservation.php

		-
			message: "#^Class App\\\\Repository\\\\BackofficeUserRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: T$#"
			count: 1
			path: src/Repository/BackofficeUserRepository.php

		-
			message: "#^Class App\\\\Repository\\\\InfoBoxRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: T$#"
			count: 1
			path: src/Repository/InfoBoxRepository.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\:\\:getEmail\\(\\)\\.$#"
			count: 2
			path: src/Security/EmailVerifier.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\:\\:getId\\(\\)\\.$#"
			count: 2
			path: src/Security/EmailVerifier.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\:\\:setIsVerified\\(\\)\\.$#"
			count: 1
			path: src/Security/EmailVerifier.php

		-
			message: "#^Only booleans are allowed in an if condition, string\\|null given\\.$#"
			count: 1
			path: src/Security/LoginFormBackofficeAuthenticator.php

		-
			message: "#^Property App\\\\Tests\\\\E2E\\\\AdozioniReservation\\\\AdozioniReservationMultipleUploadTest\\:\\:\\$client has no typehint specified\\.$#"
			count: 1
			path: tests/E2E/AdozioniReservation/AdozioniReservationMultipleUploadTest.php

		-
			message: "#^Property App\\\\Tests\\\\E2E\\\\AdozioniReservation\\\\AdozioniReservationTest\\:\\:\\$client has no typehint specified\\.$#"
			count: 1
			path: tests/E2E/AdozioniReservation/AdozioniReservationTest.php

		-
			message: "#^Call to an undefined method Booking\\\\Application\\\\Domain\\\\Model\\\\Reservation\\|Zenstruck\\\\Foundry\\\\Proxy\\:\\:object\\(\\)\\.$#"
			count: 1
			path: tests/E2E/Backoffice/Reservation/CrudDeleteControllerTest.php

		-
			message: "#^Parameter \\#3 \\$roles of class Symfony\\\\Component\\\\Security\\\\Guard\\\\Token\\\\PostAuthenticationGuardToken constructor expects array\\<string\\>, array\\<string\\|Symfony\\\\Component\\\\Security\\\\Core\\\\Role\\\\Role\\> given\\.$#"
			count: 1
			path: tests/E2E/Backoffice/Reservation/CrudDeleteControllerTest.php

		-
			message: "#^Property App\\\\Tests\\\\E2E\\\\Backoffice\\\\Reservation\\\\CrudDeleteControllerTest\\:\\:\\$client has no typehint specified\\.$#"
			count: 1
			path: tests/E2E/Backoffice/Reservation/CrudDeleteControllerTest.php

		-
			message: "#^Parameter \\#3 \\$roles of class Symfony\\\\Component\\\\Security\\\\Guard\\\\Token\\\\PostAuthenticationGuardToken constructor expects array\\<string\\>, array\\<string\\|Symfony\\\\Component\\\\Security\\\\Core\\\\Role\\\\Role\\> given\\.$#"
			count: 1
			path: tests/E2E/Backoffice/Reservation/ReservationCrudControllerTest.php

		-
			message: "#^Property App\\\\Tests\\\\E2E\\\\Backoffice\\\\Reservation\\\\ReservationCrudControllerTest\\:\\:\\$client has no typehint specified\\.$#"
			count: 1
			path: tests/E2E/Backoffice/Reservation/ReservationCrudControllerTest.php

		-
			message: "#^Property App\\\\Tests\\\\E2E\\\\RegularReservation\\\\ReservationControllerTest\\:\\:\\$client has no typehint specified\\.$#"
			count: 1
			path: tests/E2E/RegularReservation/ReservationControllerTest.php

		-
			message: "#^Cannot call method get\\(\\) on Symfony\\\\Component\\\\DependencyInjection\\\\ContainerInterface\\|null\\.$#"
			count: 3
			path: tests/Functional/AdozioniReservation/MailSendingInAdozioniReservationControllerTest.php

		-
			message: "#^Cannot call method getToken\\(\\) on object\\|null\\.$#"
			count: 3
			path: tests/Functional/AdozioniReservation/MailSendingInAdozioniReservationControllerTest.php

		-
			message: "#^Parameter \\#1 \\$email of static method Symfony\\\\Bundle\\\\FrameworkBundle\\\\Test\\\\WebTestCase\\:\\:assertEmailAttachmentCount\\(\\) expects Symfony\\\\Component\\\\Mime\\\\RawMessage, Symfony\\\\Component\\\\Mime\\\\RawMessage\\|null given\\.$#"
			count: 1
			path: tests/Functional/AdozioniReservation/MailSendingInAdozioniReservationControllerTest.php

		-
			message: "#^Parameter \\#1 \\$email of static method Symfony\\\\Bundle\\\\FrameworkBundle\\\\Test\\\\WebTestCase\\:\\:assertEmailHeaderSame\\(\\) expects Symfony\\\\Component\\\\Mime\\\\RawMessage, Symfony\\\\Component\\\\Mime\\\\RawMessage\\|null given\\.$#"
			count: 2
			path: tests/Functional/AdozioniReservation/MailSendingInAdozioniReservationControllerTest.php

		-
			message: "#^Parameter \\#1 \\$email of static method Symfony\\\\Bundle\\\\FrameworkBundle\\\\Test\\\\WebTestCase\\:\\:assertEmailTextBodyContains\\(\\) expects Symfony\\\\Component\\\\Mime\\\\RawMessage, Symfony\\\\Component\\\\Mime\\\\RawMessage\\|null given\\.$#"
			count: 8
			path: tests/Functional/AdozioniReservation/MailSendingInAdozioniReservationControllerTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/Functional/Backoffice/InfoBoxCrudTest.php

		-
			message: "#^Call to an undefined method Booking\\\\Application\\\\Domain\\\\Model\\\\Reservation\\|Zenstruck\\\\Foundry\\\\Proxy\\:\\:object\\(\\)\\.$#"
			count: 2
			path: tests/Functional/Backoffice/Reservation/ReservationCrudMailingTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertEquals\\(\\)\\.$#"
			count: 1
			path: tests/Functional/Backoffice/Reservation/ReservationCrudTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/Functional/Backoffice/Reservation/ReservationCrudTest.php

		-
			message: "#^Call to an undefined method Booking\\\\Application\\\\Domain\\\\Model\\\\Reservation\\|Zenstruck\\\\Foundry\\\\Proxy\\:\\:object\\(\\)\\.$#"
			count: 10
			path: tests/Functional/Backoffice/Reservation/ReservationCrudUpdateTest.php

		-
			message: "#^Cannot call method confirmedAt\\(\\) on Booking\\\\Application\\\\Domain\\\\Model\\\\ConfirmationStatus\\\\ConfirmationStatus\\|null\\.$#"
			count: 2
			path: tests/Functional/Backoffice/Reservation/ReservationCrudUpdateTest.php

		-
			message: "#^Cannot call method getConfirmationStatus\\(\\) on Booking\\\\Application\\\\Domain\\\\Model\\\\ReservationSaleDetail\\|null\\.$#"
			count: 2
			path: tests/Functional/Backoffice/Reservation/ReservationCrudUpdateTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/Functional/Backoffice/UserCrudTest.php

		-
			message: "#^Cannot call method get\\(\\) on Symfony\\\\Component\\\\DependencyInjection\\\\ContainerInterface\\|null\\.$#"
			count: 3
			path: tests/Functional/RegularReservation/MailSendingInReservationControllerTest.php

		-
			message: "#^Cannot call method getToken\\(\\) on object\\|null\\.$#"
			count: 3
			path: tests/Functional/RegularReservation/MailSendingInReservationControllerTest.php

		-
			message: "#^Parameter \\#1 \\$email of static method Symfony\\\\Bundle\\\\FrameworkBundle\\\\Test\\\\WebTestCase\\:\\:assertEmailAttachmentCount\\(\\) expects Symfony\\\\Component\\\\Mime\\\\RawMessage, Symfony\\\\Component\\\\Mime\\\\RawMessage\\|null given\\.$#"
			count: 1
			path: tests/Functional/RegularReservation/MailSendingInReservationControllerTest.php

		-
			message: "#^Parameter \\#1 \\$email of static method Symfony\\\\Bundle\\\\FrameworkBundle\\\\Test\\\\WebTestCase\\:\\:assertEmailHeaderSame\\(\\) expects Symfony\\\\Component\\\\Mime\\\\RawMessage, Symfony\\\\Component\\\\Mime\\\\RawMessage\\|null given\\.$#"
			count: 2
			path: tests/Functional/RegularReservation/MailSendingInReservationControllerTest.php

		-
			message: "#^Parameter \\#1 \\$email of static method Symfony\\\\Bundle\\\\FrameworkBundle\\\\Test\\\\WebTestCase\\:\\:assertEmailTextBodyContains\\(\\) expects Symfony\\\\Component\\\\Mime\\\\RawMessage, Symfony\\\\Component\\\\Mime\\\\RawMessage\\|null given\\.$#"
			count: 8
			path: tests/Functional/RegularReservation/MailSendingInReservationControllerTest.php

		-
			message: "#^Property App\\\\Tests\\\\Functional\\\\SecurityWebtestCase\\:\\:\\$client has no typehint specified\\.$#"
			count: 1
			path: tests/Functional/SecurityWebtestCase.php

		-
			message: "#^Dynamic call to static method Symfony\\\\Bundle\\\\FrameworkBundle\\\\Test\\\\WebTestCase\\:\\:assertResponseIsSuccessful\\(\\)\\.$#"
			count: 2
			path: tests/WalkingSkeletonTest.php

