<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="bin/.phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         convertDeprecationsToExceptions="false"

         cacheResultFile="var/tools/phpunit/.phpunit.cache/test-results">
  <php>
      <ini name="display_errors" value="1" />
      <ini name="error_reporting" value="-1" />
      <server name="APP_ENV" value="test" force="true" />
      <server name="SHELL_VERBOSITY" value="-1" />
      <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
      <server name="SYMFONY_PHPUNIT_VERSION" value="9.6" />
  </php>


  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
      <exclude>./tests/Functional/AdozioniReservation/AdozioniReservationTest.php</exclude>
      <exclude>./tests/Functional/RegularReservation/ReservationControllerTest.php</exclude>
    </testsuite>
    <testsuite name="unit">
      <directory>tests/Unit</directory>
      <directory>core/booking/tests/Unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>tests/Integration</directory>
      <directory>core/booking/tests/Integration</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>tests/Functional</directory>
      <directory>core/booking/tests/Functional</directory>
    </testsuite>
    <testsuite name="e2e">
      <directory>tests/E2E</directory>
    </testsuite>
  </testsuites>

  <coverage cacheDirectory="var/cache/tools/phpunit/.phpunit.cache/code-coverage"
            processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>

  <listeners>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
  </listeners>

  <extensions>
    <!-- <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension" /> -->
    <!-- For PHPUnit version >= 7.5 remove the listener and use <extensions>  -->
    <extension class="Symfony\Component\Panther\ServerExtension" />
  </extensions>

</phpunit>
