{% extends 'backoffice/default-layout.html.twig' %}

{% block title %}
    Utenti
    {{ parent() }}
{% endblock %}


{% block content_toolbar %}
    <a class="btn btn-info" href="{{ path('backoffice_user_index') }}">Lista</a>
{% endblock %}

{% block content_title %}
    Crea utente
{% endblock %}

{% block content_body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ include('backoffice/user/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
