<row class="footer text-center">
    <columns large="6">
        <p><strong> I nostri contatti </strong></p>
        <p>
            Email: info@oberdan8.it <br>
            Cell.:  349 35 50 279 (info - mercato lungotevere)<br/>
            Cell: 324 62 99 631 (info - prenotazioni on-line)
        </p>
    </columns>
    <columns large="6">
        <p><strong> Seguici </strong></p>
        <p>
            Website: <a href="https://www.oberdan8.it">www.oberdan8.it</a><br>
            Facebook: <a href="https://www.facebook.com/oberdanbanco8">Oberdan banco 8</a><br/>
        </p>
    </columns>
</row>