<wrapper class="header" bgcolor="#8a8a8a">
    <container>
        <row class="collapse testata">
            <columns small="6" valign="middle">
                {#                <img src="{{ absolute_url(asset('build/images/mailer/logo.png')) }}" alt="Oberdan Logo">#}

                <img src="{{ email.image('@mailer-images/logo.png') }}" alt="Oberdan Logo">

            </columns>
            <columns small="6" valign="middle">
                {#                <p class="text-right">BASIC</p>#}
            </columns>
        </row>
    </container>
</wrapper>
