{% extends 'backoffice/default-layout.html.twig' %}

{% block title %}
    Mail manager
    {{ parent() }}
{% endblock %}


{% block content_title %}
    Mail manager
{% endblock %}


{% block content_toolbar %}
{#    <a class="btn btn-info" href="{{ path('backoffice_user_new') }}"><i class="fa fa-plus"></i> Crea utente</a>#}
{% endblock %}

{% block content_body %}

    Mail manager
{% endblock %}
