{% apply inky_to_html|inline_css(encore_entry_css_source('email-tanks')) %}
{#<style type="text/css">#}

{#    .header {#}
{#        background: #8a8a8a;#}
{#    }#}

{#    .header .columns {#}
{#        padding-bottom: 0;#}
{#    }#}

{#    .header p {#}
{#        color: #fff;#}
{#        margin-bottom: 0;#}
{#    }#}

{#    .header .wrapper-inner {#}
{#        padding: 20px; /*controls the height of the header*/#}
{#    }#}

{#    .header .container {#}
{#        background: #8a8a8a;#}
{#    }#}

{#    .wrapper.secondary {#}
{#        background: #f3f3f3;#}
{#    }#}

{#</style>#}
<!-- move the above styles into your custom stylesheet -->


<wrapper class="header" bgcolor="#8a8a8a">
    <container>
        <row class="collapse">
            <columns small="6" valign="middle">
{#                <img src="{{ absolute_url(asset('build/images/mailer/logo.png')) }}" alt="Oberdan Logo">#}

                <img src="{{ email.image('@mailer-images/logo.png') }}" alt="Oberdan Logo">

            </columns>
            <columns small="6" valign="middle">
{#                <p class="text-right">BASIC</p>#}
            </columns>
        </row>
    </container>
</wrapper>

<container>

    <spacer size="16"></spacer>

    <row>
        <columns>

            <h1>Ciao, {{ firstName}} {{ lastName}}</h1>
            <p class="lead">
                (Oberdan 8 / il nostro Staff) ti rngrazia bla bla... orem ipsum dolor sit amet, consectetur adipisicing elit. Magni, iste, amet consequatur a veniam.
            </p>

            <p>Altro testo bla bla bla  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut optio nulla et, fugiat. Maiores accusantium nostrum asperiores provident, quam modi ex inventore dolores id aspernatur architecto odio minima perferendis, explicabo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quos quasi itaque beatae natus fugit provident delectus, magnam laudantium odio corrupti sit quam. Optio aut ut repudiandae velit distinctio asperiores?</p>

            <callout class="primary">
                <p>
                    Altro testo EVIDENZIATO DA BOX COLORATO bla bla  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit repellendus natus, sint ea optio dignissimos asperiores inventore a molestiae dolorum placeat repellat excepturi mollitia ducimus unde doloremque ad, alias eos!
                </p>
            </callout>

        </columns>
    </row>

    <wrapper class="secondary">
        <spacer size="16"></spacer>
        <row>
            <columns small="12" large="6">
                <h5>Connect With Us:</h5>
                <menu class="vertical">
                    <item style="text-align: left;" href="https://www.oberdan8.it">www.oberdan8.it</item>
                    <item style="text-align: left;" href="https://www.8viadeilibrai.it">prenotazioni on-line</item>
                    <item style="text-align: left;" href="https://www.facebook.com/oberdanbanco8">Facebook</item>
{#                    <item style="text-align: left;" href="#">Google +</item>#}
                </menu>
            </columns>
            <columns small="12" large="6">
                <h5>Contact Info:</h5>
                <p>Assistenza prenotazioni online: <br>324 62 99 631</p>
                <p>Assistenza mercato lungotevere: <br>324 62 99 631</p>
                <p>Email: <a href="mailto:info@oberdan8.it">info@oberdan8.it</a></p>
            </columns>
        </row>
    </wrapper>

</container>
{% endapply %}