<form method="post" action="{{ path('backoffice_info_box_delete', {'id': info_box.id}) }}"
      onsubmit="return confirm('Vuoi eliminare l\'info box?');"
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ info_box.id) }}">
    <button class="btn btn-danger">Elimina</button>
</form>
