<form method="post" action="{{ path('backoffice_info_box_delete', {'id': info_box.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ info_box.id) }}">
    <button class="btn">Delete</button>
</form>
