<!DOCTYPE html>
<html>
    <head>
        {% if app.environment == 'prod' %}
            <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-XWJ14NX9JZ"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-XWJ14NX9JZ');
            </script>
        {% endif %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">
        <link rel="shortcut icon" href="{{ asset('build/images/app/favicon.jpg') }}" />
        <title>{% block title %}Oberdan - banco 8 - prenotazioni{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
{#            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>#}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include 'Static/header-navbar.html.twig' %}
        {% endblock %}

        {{ render(path('info_box_show')) }}

        {% block body %}{% endblock %}

        {% include 'Static/footer.html.twig' %}

        {% block javascripts_bottom %}
        {% endblock %}
    </body>
</html>
