{% extends "base.html.twig" %}

{% block metadata %}
    parent()
{% endblock %}

{% block main %}
{% endblock %}

{% block body %}
    <div class="container">
        {% block content_body %}
        {% endblock %}
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {#    <script type="text/javascript" src="{{ asset('build/js/recaptcha.js') }}"></script>#}
{% endblock %}
