{% extends "base.html.twig" %}

{% block metadata %}
    parent()
{% endblock %}

{#{% block main %}#}
{#{% endblock %}#}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="{% block content_class %} main-content {% endblock %}">
                    {% block content_body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{#{% block javascripts %}#}
{#    {{ parent() }}#}
{#    #}{#    <script type="text/javascript" src="{{ asset('build/js/recaptcha.js') }}"></script>#}
{#{% endblock %}#}
